*,
*::before,
*::after {
    box-sizing: border-box;
} 

html {
    height: 100%;
}

.page {
    min-width: 800px;
    position: relative;
    height: inherit;
    display: flex;
    margin: 0;
    font-family: Ralewey, sans-serif;
    background-color: #fec7ee;
    text-transform: uppercase;
}

.page_video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page_title {
    z-index: 1;
    max-width: 720px;
    margin: 0 auto;
    letter-spacing: 4.06px;
    font-size: 116px;
    text-align: center;
    
}
